In [4]:
import numpy as np
import pandas as pd

In [5]:
data=pd.read_csv('toy - toy.csv')
data.head()

  opponent      venue   outlook  toss result
0      kkr  bangalore  overcast  lost    won
1       mi     mumbai     sunny   won    won
2      rcb     mumbai  overcast   won    won
3      kkr  bangalore     sunny  lost    won
4      kkr  bangalore     sunny   won    won

## ind out whether the team would lose the match or not for the following given input:

{"kkr", "chennai","overcast","lost"}

In [6]:
pd.crosstab(data['opponent'],data['result'])

result    lost  won
opponent
kkr          2    8
mi           3    1
rcb          3    4
rr           0    4

In [9]:
data['result'].value_counts()

won     17
lost     8
Name: result, dtype: int64

In [10]:
pW = 17/25
pL = 8/25

In [13]:
pd.crosstab(data['opponent'], data['result'])

result    lost  won
opponent
kkr          2    8
mi           3    1
rcb          3    4
rr           0    4

In [14]:
kkr_lost = 2/8
mi_lost = 3/8
rcb_lost = 3/8
rr_lost = 0

kkr_won = 8/17
mi_won = 1/17
rcb_won = 4/17
rr_won = 4/17

In [16]:
pd.crosstab(data['venue'], data['result'])

result     lost  won
venue
bangalore     3    8
chennai       4    6
mumbai        1    3

In [17]:
bang_lost = 3/8
che_lost = 4/8
mum_lost = 1/8

bang_won = 8/17
che_won = 6/17
mum_won = 3/17

In [18]:
pd.crosstab(df['outlook'], df['result'])

NameError: name 'df' is not defined

In [19]:
overcast_lost = 3/8
sunny_lost = 5/8

overcast_won = 9/17
sunny_won = 8/17

In [20]:
pd.crosstab(df['toss'], df['result'])

NameError: name 'df' is not defined

In [21]:
tlost_lost = 0/8
twon_lost = 8/8

tlost_won = 6/17
twon_won = 11/17

In [22]:
will_win = pW*kkr_won*che_won*overcast_won*tlost_won
print(will_win)

0.021103195603500918